<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.company.my.ReviewMapper">

	<!-- 전체게시물수 구하기  오라클 -->
	<select id="selectTotcnt" resultType="int">
		select count(*) totcnt 
		from review
   		where 1=1
   		and isbn=#{isbn}  
	</select>

<!-- 	<select id="selectList" resultType="Review">
		select * 
		from(select rownum rnum, r.*
		        from (select * from review
		        		where 1=1
		        		and isbn=#{isbn}   
		                 order by reviewno desc) r)
		where rnum between #{startNum} and #{endNum}	
	</select> -->
	
	<select id="selectList" resultType="Review">
		select * from review
		where isbn=#{isbn}
		limit #{startNum}, #{perPage}  	
	</select> 
	
	
	
	
	
	
	
	

<!-- 	<insert id="insert">
		<selectKey keyProperty="reviewno" resultType="int" order="BEFORE">
			select rv_no.nextval from  dual
		</selectKey>
		insert into review
		(reviewno, isbn, userid, subject, content)
		values
		(#{reviewno}, #{isbn}, #{userid}, #{subject}, #{content})	
	</insert>
 -->

	<!-- useGeneratedKeys : 자동으로 생성된 키를 board의 bnum에 세팅 -->
	<insert id="insert"  useGeneratedKeys="true" keyProperty="reviewno"> 
		insert into review(isbn, userid, subject, content)
		values(#{isbn}, #{userid}, #{subject}, #{content})
	</insert>











	<select id="selectOne" resultType="Review">
		select * from review
		where reviewno=#{reviewno}		
	</select>
	
	<update id="likeUp">
		update review 
		set likehit = likehit+1
		where reviewno=#{reviewno}
	</update>
	
	<delete id="delete">
		delete from review
		where reviewno=#{reviewno}
	</delete>
	
	<update id="update">
		update review 
		set subject=#{subject},
		content=#{content}
		where reviewno=#{reviewno}
	</update>
	
</mapper>